<style>
    form {
        border: 3px solid #f1f1f1;
    }
    input[type=text], input[type=password], input[type=email] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    button:hover {
        opacity: 0.8;
    }
    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
        position: relative;
    }
    img.avatar {
        width: 40%;
        border-radius: 50%;
    }
    .containmain {
        padding: 16px;
    }
    .containment {
        display:flex;
        align-items: center;
        padding: 16px;
    }
    span.psw {
        margin-left: auto;
        margin-right: 20px;
    }
    .modal {
        display: none;
        position: fixed;
        z-index: 21;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
        padding-top: 60px;
    }
    .modal-content {
        background-color: #fefefe; 
        border: 1px solid #888;
        padding: 0;
    }
    .close {
        position: absolute;
        right: 25px;
        top: 0;
        color: #000;
        font-size: 35px;
        font-weight: bold;
        }
    .close:hover,.close:focus {
        color: red;
        cursor: pointer;
    }
    .animate {
        -webkit-animation: animatezoom 0.6s;
        animation: animatezoom 0.6s
    }
    @-webkit-keyframes animatezoom {
        from {-webkit-transform: scale(0)}
        to {-webkit-transform: scale(1)}
    }
    @keyframes animatezoom {
        from {transform: scale(0)}
        to {transform: scale(1)}
    }
    .or-seperator {
        text-align: center;
        border-top: 1px solid #ccc;
    }
    .or-seperator i {
        padding: 0 10px;
        background: #f7f7f7;
        position: relative;
        top: -11px;
        z-index: 1;
    }
    .social-btn .btn {
        display: flex;
        justify-content: center;
        margin: 10px 0;
        font-size: 15px; 
        line-height: 24px;       
    }
    .social-btn .btn i {
        float: left;
        margin: 4px 15px  0 5px;
        min-width: 15px;
    }
    .verify {

    }
    .hidden {
        display: none;
    }
</style>
<div id="id02" class="modal">
    <form class="modal-content animate col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6" action="/signup" method="POST">
        <div class="imgcontainer">
            <span onclick="document.getElementById('id02').style.display='none'"class="close" title="Close Modal">&times;</span>
            <img src="img_avatar2.png" alt="Avatar" class="avatar">
          </div>
          <div class="containmain">
            <label for="fullname"><b>Name</b></label>
            <input type="text" placeholder="Enter your fullname" name="fullname" required>
            <label for="uname"><b>Email</b></label>
            <input type="email" placeholder="Enter Username" name="uname" id="uname" required>
            <div class="hidden otpdiv" style="display: flex;justify-content: center;align-items: center;">
                <label for="psw"><b>OTP (Verify Email)</b></label>
                <input type="text" placeholder="Enter OTP" name="psw" id="psw">
            </div>
            <div class="alert alert-warning hidden">
                Wrong OTP entered    
            </div>
            <input type="button" class="btn" id="otp" onclick="send()" value="Send OTP">
            <input type="button" class="btn" id="resendotp" onclick="resend()" value="Resend OTP" disabled>
            <button type="submit" class="btn" id="signup" disabled>SignUp</button>
            <label style="float: right;">
                  <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>
        <div style="padding: 0px 16px;">
            <div class="or-seperator"><i>OR</i></div>
            <div class="text-center social-btn">
                <a href="/auth/facebook" class="btn btn-primary btn-block"><i class="fa fa-facebook"></i> Sign Up with&nbsp;<b>Facebook</b></a>
                <a href="/auth/google" class="btn btn-danger btn-block"><i class="fa fa-google"></i> Sign Up with&nbsp;<b>Google</b></a>
            </div>
        </div>
        <div class="containment" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id02').style.display='none'" class="btn btn-danger">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>
</div>
<script>
    function ValidateEmail(mail) 
    {
        var mailFormat=/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        if (mail.match(mailFormat))
        {
            return (true)
        }
        document.getElementById('uname').focus();
        return (false)
    }
    var modale = document.getElementById('id02');
    window.onclick = function(event) 
    {
        if (event.target == modale) {
            modale.style.display = "none";
        }
    }
    var send = ()=>{
        if(document.getElementById("otp").value=="Send OTP")
        {
            if(ValidateEmail(document.getElementById('uname').value))
            {
                var xhttp = new XMLHttpRequest();
                xhttp.open("POST","https://email-otp.herokuapp.com/api/send");
                xhttp.setRequestHeader("Content-Type","application/json");
                xhttp.send(JSON.stringify({email:document.getElementById('uname').value}));
                xhttp.onload = ()=>{
                    $(".otpdiv").toggleClass("hidden");
                    document.getElementById("otp").value="Verify OTP";
                    document.getElementById('uname').readOnly=true;
                    document.getElementById('resendotp').disabled=false;
                }
            }
        }
        else
            verify();
    }
    var resend = ()=>{
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST","https://email-otp.herokuapp.com/api/send");
        xhttp.setRequestHeader("Content-Type","application/json");
        xhttp.send(JSON.stringify({email:document.getElementById('uname').value}));
        xhttp.onload = ()=>{
        }
    }
    var verify = ()=>{
        var xhttp=new XMLHttpRequest();
        xhttp.open("POST","https://email-otp.herokuapp.com/api/verify");
        xhttp.setRequestHeader("Content-Type","application/json");
        xhttp.send(JSON.stringify({email:document.getElementById('uname').value,otp:document.getElementById("psw").value}));
        xhttp.onload = ()=>{
            
            if(xhttp.responseText=="Success")
            {
                document.getElementById("otp").disabled=true;
                document.getElementById("otp").value="Verified";
                document.getElementById("otp").classList.add("btn-success");
                document.getElementById('resendotp').disabled=true;
                document.getElementById('signup').disabled=false;
            }
            else
            {
                $(".alert-warning").toggleClass("hidden");
                setTimeout(()=>{$(".alert-warning").toggleClass("hidden")},3000);
            }
        }
    }
</script>